*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body{
    font-family: Arial, sans-serif;
}
 
.signin{
    width: 100vw;
    height: 100vh;
    background-image: url("https://synthesisbikaner.org/synthesistest/motion%20graphic%20background_12.0de2e3ff0dd28bfa.png");
    display: flex;
    justify-content: center;
}
 
.container{
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.logo{
    width: 500px;
    height: 500px;
    margin: 50px;
}
 
 
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    border: none;
    border-width: 2px;
    height: 450px;
    width: 600px;
    margin: 40px;
   
}
.login-form{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: start;
}
 
input[type= "text"], input[type="password"]{
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    padding-left: 10px;
    background-color: rgb(224, 235, 246);
    text-align: left;
}
 
h3{
    font-size: 37px;
    color: orangered;
    text-decoration: underline;
    text-underline-offset: 10px;
}

label{
   font-size: 20px;
   margin-left: 19px;
   margin-top: 5px;
}
.username{
    width: 500px;
    height: 40px;
    margin: 15px;
    text-align: left;
    padding-left: 5px;
}
 
.btn{
    width: 85%;
    height: 45px;
    margin: 20px;
    background-color: rgb(255, 69, 2);
    color: white;
    border: none;
    font-size: 20px;
    cursor:pointer;
}
 
.password-wrapper {
    position: relative;
    
}

.password-wrapper input {
    width: 500px;
    height: 40px;
    margin: 15px;
    text-align: left;
    padding-left: 10px;
    border-color: black; /* space for icon */
    border-radius: 10px;
}

.toggle-password {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #888;
}

.toggle-password:hover {
    color: #ff5a00; /* matches your orange theme */
}
